@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media (prefers-color-scheme:dark) {
    :root {
    --Primary-color:#403F4C;
    --Second-color: #F5F5F5;
    --red:#E84855;
    --yellow: #F9DC5C;
    --blue: #3185FC;
    --pink: #EFBCD5;
    }
}

/* @media (prefers-color-scheme:dark) {
    :root {
    --Primary-color:#F5F5F5;
    --Second-color: #403F4C;
    --red:#E84855;
    --yellow: #F9DC5C;
    --blue: #3185FC;
    --pink: #EFBCD5;
    }
} */



* {
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--Second-color);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    height: 100vh;
    width: auto;
}

h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
}

a {
    text-decoration: none;
    color: var(--Second-color);
}

li {
    list-style: none;
}

#Judul-Halaman {
    font-weight: 700;
    font-size: 1.5rem;
}

.List-Fast {
    font-size: 1rem;
}

ul#Tempat-List-Fast {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    align-items: center;
}



#Tempat-Judul {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

/* #Animasi-Kotak {
    width: 10px;
    height: 10px;
    background-color: var(--blue);
} */

/* #Tempat-Animasi {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
} */

/* div#Tempat-Animasi :nth-child(1) {
    background-color: var(--pink);
}

div#Tempat-Animasi :nth-child(2) {
    background-color: var(--blue);
}

div#Tempat-Animasi :nth-child(3) {
    background-color: var(--yellow);
}

div#Tempat-Animasi :nth-child(4) {
    background-color: var(--red);
} */

#MenuAtas {
    background-color: var(--Primary-color);
    color: var(--Second-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5em;
    position: sticky;
    top: 0;
    border-radius: 0 0 0.5em 0.5em;
    z-index: 1;
}

figure {
    border: 2px var(--Second-color) solid;
    margin: 0.5rem;
    padding: 0;
}

figcaption {
    margin: 1rem 1rem 1rem 1rem;
    color: var(--Second-color);
}

figure img {
    max-width: 300px;
    height: auto;
}

#Tempat-Profil {
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
    justify-content: space-between;
}

#Kartu-Profil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--Primary-color);
    border: 3px var(--blue) solid;
}

#Kartu-Profil:hover {
    animation: bayangan 0.25s ease-in 0s 1 normal forwards;
}
#Kartu-Profil:not(:hover) {
    animation: tanpa-bayangan 0.25s ease-in 0s 1 reverse forwards;
}

@keyframes bayangan {
    0% {
    }
    100% {
    transform: translate(-5px,-5px);
    box-shadow: 5px 5px 10px var(--pink);
    box-shadow: 7px 7px 10px var(--red);
    }
}

@keyframes tanpa-bayangan {
    0% {
    }
    100% {
    transform: translate(-5px,-5px);
    box-shadow: 5px 5px 10px var(--pink);
    box-shadow: 7px 7px 10px var(--red);
    }
}

#Judul-Bawah {
    font-size: 2rem;
    font-weight: bold;
}

#Tempat-Button {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

button.Tombol {
    min-width: 100px;
    font-size: 2rem;
}

#Tempat-Kotak-Animasi {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--Primary-color);
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 2em;
    gap: 10em;
    overflow: hidden; /* digunakan untuk menyembunyikan/menganggap elemen yang keluar dari ukuran layar, akan dianggap tidak ada/hilang sementara */
}

.Animasi-Kotak-Program {
    flex-shrink: 0; /* digunakan untuk menjaga agar ukuran tetap pada semula/sudah ditentukan (agar tidak terkompres oleh area yang sempit) */
    width: 50px;
    height: 50px;
    background-color: var(--Second-color);
    padding: 0.5em;
    overflow: hidden;

    border-radius: 1em;
    animation: RunningIcon 15s ease-in-out 0.5s infinite alternate forwards;
}

.Elemen-Pembatas {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100vw;
    height: 50px;
    background-color: var(--red);
}



@keyframes RunningIcon {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-700%);
    }
}

.Tempat-About {
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

#About {
    font-size: 5rem;
}

#Perkenalan {
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    width: 30ch;
    background-color: var(--Primary-color);
    color: var(--Second-color);
}

#Experience {
    height: 100vh;
    width: auto;
}

/* @media screen and (max-width:481px) {
    #Tempat-Profil {
        flex-flow: column;
    }
} */

@media screen and (min-width:769px) {
    @keyframes RunningIcon {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-700%);
    }
    }

    #Judul-Halaman {
        font-weight: 700;
        font-size: 3rem;
    }

    .List-Fast {
        font-size: 1.5rem;
    }

    ul#Tempat-List-Fast {
        gap: 1rem;
    }

    #Judul-Bawah {
    font-size: 6rem;
    font-weight: bold;
    }

    button.Tombol {
    min-width: 200px;
    font-size: 3rem;
    }

    #Tempat-Kotak-Animasi {
        gap: 20em;
    }

    .Animasi-Kotak-Program {
        animation-duration: 20s;
    }

    #Tempat-Profil {
        flex-direction: row-reverse;
        padding: 2em;
        gap: 1em;
        align-items: start;
    }
    #Tambahan-Penjelasan {
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        flex-flow: column;
        gap: 3rem;
        align-items: start;
    }
/*     #Tempat-Button {

    }

    #Tempat-Kotak-Animasi {

    } */
    
}